html {
    box-sizing: border-box;
}

/*general basic fonts, colors, sizes*/
body {
    background-color: #faf8f6;
    color: #3a3a3a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*mobile-first image settings*/
img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0.5em auto;
}
