/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*BASIC mobile-first/narrow setup*/
html {
    box-sizing: border-box;
    background-color: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*note this was given in a previoisu assigment and is therefore a course resource*/
/*general basic fonts, colors, sizes*/
body {
    color: #4a4040;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2em;
    /*I know this is technically responsive BUT instructions said to make sure the body had a max-width to ensure usability*/
    max-width: 1250px;
    margin: 0 auto;
}

.body_dot_class {
    background-image: radial-gradient(#bdbab2 0.8px, transparent 0.8px);
    background-size: 25px 25px;
    /*cite: https://css-irl.info/css-halftone-patterns/*/
}

.title_subscript {
    font-weight: 300;
    margin: 0;
}

nav menu li a,
.div_text_paragraph {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/*mobile-first image settings*/
img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0.5em auto;
}

/*styling nav*/
nav menu li {
    list-style: none;
    font-size: 1em;
    border: none;

}

nav menu li a {
    text-decoration: none;
    color: #4a4040;
}

menu {
    /*display: flex;*/
    /* flex-direction: column;*/
    padding: 0;
    border: none;
    max-width: 300px;
    gap: 1rem;
    margin: 1em auto;

}

nav a {
    display: block;
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-weight: 400;
    background-color: #CBD5C0;
    border-radius: 50px;
}

/*NOTE: The heading having plently of space and larger buttons is a design choice - as people on small mobile phones need larger areas to click*/

footer {
    padding: 1em;
}

/*This is to indicate what page you're on when you're on it or when you're clicking the link*/
nav a.active {
    background-color: #4e5c4e;
    /*font-weight: 700;*/
    color: #FFFFFF;
}

nav a.active img {
    filter: invert(1);
    /*needed to change the icon color to white*/
    /*got from documentation + help in OH*/
}

nav a:hover {
    background-color: #a6bda6;
    /*supposed to work when you're hovering over it*/
    /*might modify later...*/
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*BASIC Style CLASSES*/

.bold {
    font-weight: 650;
}

.center {
    text-align: center;
}

.home_section {
    padding: 1.75em;
    background-color: #f5e6e0;
    border-radius: 20px;
    margin: 15px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.exp_section {
    padding: 1.75em;
    background-color: #d6e2e9;
    border-radius: 20px;
    margin: 15px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.06);
}


.club_section {
    padding: 1.5em;
    background-color: #e7dbe8;
    border-radius: 20px;
    margin: 15px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.06);
}


.div_text_paragraph {
    border: 1px solid #4a4040;
    background-color: #FFFFFF;
    padding: 0.75em;
    border-radius: 8px;
    font-size: 14pt;
}

.footer_class {
    background-color: #d4b8b8;
    color: #4a4040;
    border-radius: 20px;
    border: none;
    border-bottom: none;
    font-size: 16px;
    text-decoration: none;

}

.line_div {
    border-bottom: 1.25px solid #bdbab2;
    margin: 1em 0;
}

.footer_image {
    max-width: 40px;
    height: auto;
}

.page_title {
    font-weight: 300;
    font-size: 16pt;
    border: none;
}

.mobile_nav_styling {
    border-bottom: 1.5px solid #bdbab2;
}

.footer_divider {
    border-bottom: 1.5px dashed #4a4040;
    width: 20%;
    margin: 0 auto;
}

.home_headshot_img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 75%;
    max-width: 600px;
}

.club_photos_img {
    border-radius: 12px;
    width: 100%;
    margin: 0 auto;
    display: block;
}


figure {
    margin: 0;
}

/*makes the skills look more consultingy*/
.skills_pills_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.skills_pills_list li {
    background-color: #CBD5C0;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 0.9em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    /* yay shadow again*/
}

.header_logo_image {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
}

.header_text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 5px;
}

.top-content {
    background-color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

header h1 {
    margin-top: 0;
}

.nav_logos_small {
    max-width: 25px;
    height: auto;
}

.home_special_text {
    border-left: 5px solid #d4b8b8;
    font-weight: 575;
    font-style: italic;
    padding: 0.25em;
}

.exp_special_text {
    border-left: 5px solid #d6e2e9;
    font-weight: 575;
    font-style: italic;
    padding: 0.25em;
}


.club_special_text {
    border-left: 5px solid #e7dbe8;
    font-weight: 575;
    font-style: italic;
    padding: 0.25em;
}

.figcaption_styling {
    background-color: #e7dbe8;
    border-radius: 10px;
    border: 1px #bdbab2 solid;
    padding: 0.5em;
    margin: 0;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*GENERAL FLEXBOX CLASSES*/
.footer_inner_flex {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

.footer_outer_flex {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    margin-top: 0.5em;
}

.nav_menu_flex {
    display: flex;
    flex-direction: column;
}

.nav_inner_flex {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.home_aboutme_flex {
    display: flex;
    flex-direction: column;
}

.figure_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*This is for the personal page styling and flexboxes solely*/

blockquote {
    font-style: italic;
    font-weight: 550;
    border-right: 1px solid #4a4040;
    border-top: 1px solid #4a4040;
    border-bottom: 1px solid #4a4040;
    padding: 1em;
    border-left: 5px solid #4a4040;
    background-color: #fbdaf0;

}

.music_section {
    padding: 1em;
    background-image:
        linear-gradient(rgba(240, 224, 245, 0.85), rgba(245, 230, 224, 0.85)),
        url("../images/pink_flowers_music.jpg");
    background-size: cover;
    background-position: center;
    font-weight: 500;
    /*margin-bottom: 0.5em;*/
    color: black;
}

.poem {
    white-space: pre-line;
    font-size: 12pt;
    font-weight: 575;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.poem_what_section {
    padding: 1em;
    background-image:
        linear-gradient(rgba(240, 224, 245, 0.85), rgba(245, 230, 224, 0.85)),
        url("../images/poetry_flowers_1.jpg");
    background-size: cover;
    background-position: center;
    font-weight: 500;
    color: black;
    /*margin-bottom: 0.5em;*/
}

.original_music_section {
    padding: 1em;
    background-image:
        linear-gradient(rgba(240, 224, 245, 0.85), rgba(245, 230, 224, 0.85)),
        url("../images/original_flower.jpg");
    background-size: cover;
    background-position: center;
    font-weight: 500;
    color: black;
}

figcaption a {
    text-decoration: none;
    color: #4e5c4e;
}

figcaption {
    font-size: 10pt;
}


.volunteering_section {
    padding: 1.75em;
    background-color: #f5e6e0;
    border-radius: 20px;
    margin: 15px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.personal_flex {
    display: flex;
    flex-direction: column;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Project PAGE STUFF*/

.proj_section {
    padding: 1.25em;
    background-color: #FAF9F6;
    margin: 15px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.proj_special_text {
    border-left: 5px solid #d4b8b8;
    font-weight: 575;
    padding: 0.25em;
}

.project_flex {
    display: flex;
    flex-direction: column;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Citations*/
footer cite a {
    color: #4a4040;
    margin: 0;
}

footer cite {
    font-size: 8pt;
    margin: 0;
}

.in-text-cite {
    font-size: 8pt
}

.in-text-cite a {
    color: #4a4040;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*RESPONSIVE DESIGN FOR M3*/

/*media queries*/

/*media query for the NAVIGATION*/
@media (min-width: 700px) {
    .nav_menu_flex {
        flex-direction: row;
        justify-content: center;
    }

    menu {
        max-width: 100%;
        gap: 0.5rem;
        margin: 1em 1em;

    }

    nav a {
        width: 150px;
        padding: 0.25rem 0.25rem;
        font-size: 11pt;
    }
}

/*media query for the FOOTER*/
@media (min-width: 700px) {
    .footer_outer_flex {
        flex-direction: row;
        justify-content: center;
        padding: 0.5em;
    }
}

/*media query for the header content*/
@media (min-width: 700px) {
    #hamburger-button {
        display: none;
    }

    /*Would this be done in javascript?? Shoudl it show up on wide screen still for this milestone?*/

    .top-content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .header_text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header_logo_image {
        max-width: 9%;
        width: auto;
        min-width: 15px;
        margin: 10px;
        position: absolute;
        top: -1px;
        left: 10px;
    }
}

/*media query for the body content on home page*/
@media (min-width: 700px) {
    .home_aboutme_flex {
        flex-direction: row;
    }

    .home_headshot_img {
        display: block;
        flex-grow: 1;
        max-width: 700px;
        min-width: 300px;
        height: auto;
        margin: 1em;
    }

    .div_text_paragraph {
        font-size: 12.5pt;
    }

    .home_aboutme_flex div {
        flex-grow: 2;
    }
}


/*media query for project content*/
@media (min-width: 700px) {
    .figure_flex {
        flex-direction: row;
        align-items: flex-start;
        gap: 1em;
    }

    .figure_flex figcaption {
        flex: 1;
        font-size: 0.75em;
    }

    .figure_flex button {
        flex: 3;
    }

    .figure_flex button img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

/*media query for personal page content*/
@media (min-width: 750px) {
    .personal_flex {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
        max-width: 900px;
        margin: 0 auto;
    }

    .personal_flex blockquote {
        flex: 1;

    }

    .personal_flex picture img {
        flex: 1;
        width: 100%;
        max-width: 100%;
        height: auto;

    }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/
/*Interactive styling for M3 -- */
.hamburger-line {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #CBD5C0;
    margin: 7px auto;
}

.hamburger_design {
    background-color: #f3f3f3;
    border: 0.25px solid #b5b3b3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 50px;
    position: absolute;
    /*placed in reference to the "top-content" class"*/
    top: 40px;
    right: 0;
}

#hamburger-button:hover {
    background-color: #a6bda6;
    cursor: pointer;
}

#hamburger-button:hover .hamburger-line {
    background-color: white;
}

.hidden {
    display: none !important;
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /*transparency so you can see the back behind it still? I didn't want it to be too opaque*/
    z-index: 1;
    /*use flexbox to make the actual modal-looking ting in the middle*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-modal {
    display: block;
    background-color: white;
    border-radius: 15px;
    padding: 2em;
    max-width: 90%;
    max-height: 90vh;
    /*can't exceed viewport height*/
    overflow-y: auto;
    /*had to add a scrollbar for if there was too much content*/
    z-index: 2;
    position: relative;
    /*this above is so the x button can be on the top right instead, similar to how I did it w the menu bar*/
}

#modal-close {
    position: sticky;
    /*want the X to always be seen*/
    top: 0;
    float: right;
    background: none;
    border: none;
    font-size: 1.5em;
    /*so your mouse turns into a pointer finger over it*/
    cursor: pointer;
    color: #4a4040;
    z-index: 3;
}


#modal-close:hover {
    font-weight: 600;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#proj-button-1,
#proj-button-2,
#proj-button-3 {
    cursor: pointer;
}

/*modal pop up styling*/
.modal_image {
    border: 1px solid #4a4040;
    padding: 0.5em;
}
