/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*BASIC mobile-first/narrow setup*/
html {
    box-sizing: border-box;
    background-color: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*general basic fonts, colors, sizes*/
body {
    color: #4a4040;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}

/*mobile-first image settings*/
img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0.5em auto;
}

/*styling nav*/
nav menu li {
    list-style: none;
    font-size: 1.25em;
    border: none;

}

nav menu li a {
    text-decoration: none;
    color: #4a4040;
}

menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
    max-width: 300px;
    gap: 1rem;
    margin: 1em auto;

}

nav a {
    display: block;
    padding: 1rem 1rem;
    text-align: center;
    font-weight: 400;
    background-color: #CBD5C0;
    border-radius: 50px;
}



/*this is just to see better*/
div {
    border: 1px solid black;
}


footer {
    padding: 1em;
}

/*citation to add in later for icon: <a target="_blank" href="https://icons8.com/icon/12580/email">Email</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*/
/* <a target="_blank" href="https://icons8.com/icon/12598/github">GitHub</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */
/*<a target="_blank" href="https://icons8.com/icon/447/linkedin">LinkedIn</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*BASIC UTILITY CLASSES*/
.center {
    text-align: center;
}

.home_section {
    padding: 1em;
    background-color: #f5e6e0;
    border-radius: 20px;
    margin: 15px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.text_paragraph {
    border: 1px solid #4a4040;
    background-color: #FFFFFF;
    padding: 0.75em;
    border-radius: 8px;
}

.footer_class {
    background-color: #d4b8b8;
    color: #4a4040;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    text-decoration: none;

}

.footer_image {
    max-width: 40px;
    height: auto;
}

.page_title {
    border-bottom: 1.5px solid #bdbab2;
    margin-bottom: 1em;
    padding-bottom: 10px;
}

.mobile_nav_styling {
    border-bottom: 1.5px solid #bdbab2;
}
